__pycache__
initial_state
# map files
map_data_aut_highway
# tensorboard log files
events.out.tfevents.*
*.log
# model dumps
*.zip
# benchmark files
*.pstats
# python venvs
.venv
evcsr_rl_prototype
# datasets
datasets
# Logged metrics
metrics*.json
# Visuals
visuals