__pycache__
initial_state
# map files
map_data_aut_highway
# tensorboard log files
events.out.tfevents.*
*.log
# model dumps
*.zip
# benchmark files
*.pstats
# python venvs
.venv
# OBELIS dataset
obelis_data
# ASFINAG dataset
asfinag_data