__pycache__
initial_state
# large map files
map_data_aut_highway
# model dumps and log files
models
testlogs
# benchmark files
*.pstats
# python venvs
.venv

# datasets
datasets/asfinag_data/*
!datasets/asfinag_data/data_exploration.ipynb
!datasets/asfinag_data/Jahr23_ASFINAG_Verkehrsstatistik.xls

datasets/bast_data/2022_A_S.*

datasets/obelis_data/df_lv.*


# Logged metrics
metrics*.json
# Visuals
visuals